.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem 0 0rem 0;
  max-width: 60%;
  margin: 0 auto;
}

.profilePic {
  border-radius: 100%;
  margin-top: -5rem;
  animation: chargingBlur .2s ease-in;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
}

.bio {
  color: #999;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 2px;
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: .85rem;
  padding: 6px 25px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  margin-top: 0.1rem;
}


.link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.link:active {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {

  .header {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .bio {
    width: 100%;
    padding-left: 0;
    margin: 0.3rem 0 1.5rem 0;
  }


}