.gradient {
  background: linear-gradient(90deg, #2beba3 0%, #2196f3 100%);
  height: 25dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 3rem;
  max-width: 60%;
  margin: 0 auto;
  color: white;
}

.main p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
}