.gradient {
  background: linear-gradient(90deg, #2beba3 0%, #2196f3 100%);
  height: 20dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 3rem;
  max-width: 60%;
  margin: 0 auto;
  color: white;
}


@media screen and (max-width: 768px) {
  .main {
    max-width: 80%;
  }
  
}